
@media (prefers-color-scheme: light) {
  :root {
    --drop-shadow-col: rgba(0, 0, 0, 0.2);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --drop-shadow-col: rgba(0, 0, 0, 0.4);
  }
}

.icons {
  width: 100%;
  max-width: 100px;
  margin: 20px 20px;
  filter: saturate(0%) drop-shadow(0 0 0 var(--drop-shadow-col));
  transition-duration: .4s;
  transition-timing-function: ease;
}

.icons:hover {
  filter: saturate(100%) drop-shadow(0 5px 10px var(--drop-shadow-col));
  transform: translateY(-10px);
  max-width: 110px;
}

.contacts_list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.contacts_item {
  margin: 20px;
  list-style: none;
}
