#icons {
  width: 100%;
  max-width: 100px;
  margin: 20px 40px;
  filter: saturate(0%) drop-shadow(0 0 0 #000);
  transition-duration: .4s;
  transition-timing-function: ease;
}

#icons:hover {
  filter: saturate(100%) drop-shadow(0 10px 20px);
  transform: translateY(-10px);
  max-width: 110px;
}

#contacts_list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#contacts_item {
  margin: 20px;
  list-style: none;
}
