#icons {
  width: 100%;
  max-width: 100px;
  margin: 0 40px;
  filter: saturate(0%);
  transition-duration: .4s;
  transition-timing-function: ease;
}

#icons {
  filter: saturate(100%);
  transform: translateY(-10px);
  max-width: 110px;
}

#contacts_list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#contacts_item {
  margin: 20px;
  list-style: none;
}
