:root {
  --main-text-col: #f5f5f5;
  --body-col: #181818;
  --navbar-col: rgba(48, 48, 48, 0.8);
  --table-col: rgb(64, 64, 64);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-col: #121212;
    --body-col: #f5f5f5;
    --navbar-col: rgba(225, 225, 225, 0.8);
    --table-col: rgb(200, 200, 200);
  }
}

body {
  background-color: var(--body-col);
  margin: 0;
}

p {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  color: var(--main-text-col);
}

h1 {
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  margin: 24px;
  color: var(--main-text-col);
}

.text-title-1 {
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
  color: var(--main-text-col);
}

.text-body-1 {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0 15%;
  color: var(--main-text-col);
  text-decoration: none;
}

.default-button-big {
  display: block;
  background-color: #3DC378;
  border-radius: 10px;
  height: -webkit-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  padding: 8px 16px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  color: rgb(245, 245, 245);
  cursor: pointer;
  border: none;
  text-decoration: none;
  transition-duration: 0.4s;
}

.default-button-big:hover {
  background-color: #4cce84;
  transform: translateY(-2px);
}

.apple-music-container {
  margin: 0 20px;
}

.apple-music-embed {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* button list styling */

.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 420px;
  margin: auto;
}

.button-icon {
  width: 80px;
  opacity: 80%;
  transition-duration: 0.4s;
  margin: 0 10px;
}

.button-icon:hover {
  width: 85px;
  opacity: 100%;
  transform: translateY(-5px);
}

.footer {
  display: block;
  /* position: absolute; */
  padding: 20px;
  margin: 0;
  left: 0;
  bottom: 0;
  width: calc(100% - 40px);
  height: 80px;
  background-color: rgb(32, 32, 32);
  /* text styling */
  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  color: rgb(110, 110, 110);
}

.footnote-list {

}

/* faq list styling */

.faq-container {
  width: calc(100% - 100px);
  max-width: 600px;
  padding: 50px;
  margin-top: 0;
  padding-top: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-header-list {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: var(--main-text-col);
  margin-bottom: 4px;
}

.text-body-list {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  color: var(--main-text-col);
  margin-top: 4px;
}

/* price list styling */

.price-table {
  width: 260px;
  display: block;
  margin: auto;
  border-radius: 16px;
  border-width: 2px;
  border-color: var(--table-col);
  border-style: solid;
}

.list-header {
  height: 32px;
  margin: 0;
  background-color: var(--table-col);
  display: grid;
  grid-template-columns: 60% auto;
  border-radius: 14px 14px 0 0;
}

.list-text {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding: 6px;
  margin: 0;
  color: var(--main-text-col);
  text-decoration: none;
  list-style: none;
}

.list-body {
  display: grid;
  grid-template-columns: 60% auto;
  /* border: 2px solid rgba(64, 64, 64); */
}

.list-body ul {
  padding: 0;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 6px;
}

/* colourful panel styling */

.panel-container-margins {
  margin: 0;
}

.panel-container {
  margin: 32px auto;
  max-width: 900px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

.panel-container div {
  border-radius: 28px;
  margin-bottom: 18px;
  margin-right: 18px;
  width: 300px;
  transition-duration: .3s;
}

.panel-container div:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  transform: translateY(-2px);
}

.panel-title {
  margin-left: 24px;
  margin-top: 18px;
  margin-bottom: 0;
  color: rgb(245, 245, 245);
}

.panel-text {
  margin-top: 4px;
  text-align: left;
  color: rgb(245, 245, 245);
}

.panel-red {
  background-image: linear-gradient(180deg, #F13838, #CA0B0B);
}

.panel-green {
  background-image: linear-gradient(180deg, #17D47E, #079253);
}

.panel-blue {
  background-image: linear-gradient(180deg, #3397F2, #0465BD);
}

@media screen and (max-width: 800px) {
  .panel-container {
    grid-template-columns: auto auto;
  }
  .panel-container div {
    width: 100%;
    margin-right: 0;
  }
  .panel-container-margins {
    margin: 40px;
  }
}

@media screen and (max-width: 750px) {
  .panel-container {
    grid-template-columns: auto;
  }
  .panel-container div {
    width: 100%;
    margin-right: 0;
  }
  .panel-container-margins {
    margin: 40px;
  }
}
