:root {
  --main-text-col: #f5f5f5;
  --body-col: #181818;
  --navbar-col: rgba(48, 48, 48, 0.8);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-col: #121212;
    --body-col: #f5f5f5;
    --navbar-col: rgba(225, 225, 225, 0.8);
  }
}

body {
  background-color: var(--body-col);
  margin: 0;
}

.text-title-1 {
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-top: 70px;
  color: var(--main-text-col);
}

.text-body-1 {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0 15%;
  color: var(--main-text-col);
  text-decoration: none;
}

.default-button-big {
  display: block;
  background-color: #3DC378;
  border-radius: 10px;
  height: -webkit-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  padding: 8px 16px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  color: var(--main-text-col);
  cursor: pointer;
  border: none;
  text-decoration: none;
  transition-duration: 0.4s;
}

.default-button-big:hover {
  background-color: #4cce84;
  transform: translateY(-2px);
}

.apple-music-embed {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* button list styling */

.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 420px;
  margin: auto;
}

.button-icon {
  width: 80px;
  opacity: 75%;
  transition-duration: 0.4s;
  margin: 0 10px;
}

.button-icon:hover {
  width: 85px;
  opacity: 100%;
  transform: translateY(-5px);
}

.footer {
  display: block;
  /* position: absolute; */
  padding: 20px;
  margin: 0;
  left: 0;
  bottom: 0;
  width: calc(100% - 40px);
  height: 80px;
  background-color: rgb(32, 32, 32);
  /* text styling */
  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  color: rgb(110, 110, 110);
}

.footnote-list {

}

/* faq list styling */

.faq-container {
  width: calc(100% - 100px);
  max-width: 600px;
  padding: 50px;
  margin-top: 0;
  padding-top: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-header-list {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: var(--main-text-col);
  margin-bottom: 4px;
}

.text-body-list {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  color: var(--main-text-col);
  margin-top: 4px;
}

.price-list {
  background: url(../media/Price_list_dark.svg);
  background-repeat: no-repeat;
  height: 250px;
  width: 237.5px;
  margin: 40px auto;
}

@media (prefers-color-scheme: light) {
  .price-list {
    background: url(../media/Price_list_light.svg);
  }
}
