.modal-bg {
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #0000007f;
  -webkit-backdrop-filter: blur(30px) saturate(140%);
  z-index: 97;
  display: none;
}

.fullscreen-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 48px;
  display: flex;
  justify-content: center;
  z-index: 97;
  pointer-events: none;
}

.fullscreen-image {
  max-height: calc(100% - 48px);
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.fullscreen-image-info p {
  color: var(--secondary-text-col);
}

.fullscreen-image-info {
  position: absolute;
  bottom: 20px;
  right: 24px;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 1));
  z-index: 98;
}

.modal-bg-shown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-panel {
  width: fit-content;
  height: fit-content;
  background-color: var(--modal-panel-col);
  -webkit-backdrop-filter: blur(30px) saturate(200%);
  backdrop-filter: blur(30px) saturate(200%);
  border-radius: 13px;
  box-shadow: 0 1px 2px #0000007f, 0 30px 60px #0000004c;
  z-index: 98;
  animation: modal-float-up .4s;
  animation-fill-mode: both;
}

.modal-close {
  border-top: solid 1px var(--image-outline-col);
  height: fit-content;
  padding: 13px;
  margin: 0 !important;
  cursor: pointer;
}

.modal-close p {
  color: tomato;
  opacity: 70%;
  transition-duration: .3s;
  text-align: center;
}

.modal-close:hover p {
  opacity: 100%;
}

.modal-panel iframe {
  border-radius: 10px;
  border: none;
  width: calc(100vw - 16px - 8px);
  max-width: 800px;
  height: 60vh;
  margin: 4px;
}

.discord-modal {
  width: calc(100% - 40px);
  padding: 20px;
  display: flex;
}

.discord-modal-item {
  /*width: fit-content;*/
  flex-grow: 1;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.discord-modal-item:first-child {
  margin-right: 16px;
}

.discord-modal-item * {
  text-align: center;
}

.modal-details {
  padding: 16px 20px 20px;
  width: 100vw;
  max-width: 600px;
}

.modal-details * {
  text-align: left !important;
}

.modal-dismiss-button {
  position: absolute;

  top: 96px;
  left: 32px;

  width: 38px;
  height: 38px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../media/modal-dismiss-button.svg');
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  -webkit-backdrop-filter: blur(30px) saturate(180%);

  cursor: pointer;

  transition-duration: 0.2s;
}

.modal-dismiss-button:hover {
  transform: scale(1.05);
}

.modal-dismiss-button:active {
  transform: scale(0.92);
}

@media screen and (max-width: 800px) {
  .modal-panel {
    width: calc(100% - 16px);
  }
  .fullscreen-image-wrapper {
    padding-top: 64px;
  }
  .fullscreen-image {
    max-height: calc(100% - 64px);
  }
}
