.modal-bg {
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #0000007f;
  z-index: 97;
  display: none;
}

.modal-bg-shown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-panel {
  width: fit-content;
  height: fit-content;
  background-color: var(--modal-panel-col);
  -webkit-backdrop-filter: blur(30px) saturate(200%);
  backdrop-filter: blur(30px) saturate(200%);
  border-radius: 13px;
  box-shadow: 0 1px 2px #0000007f, 0 30px 60px #0000004c;
  z-index: 98;
  animation: modal-float-up .4s;
  animation-fill-mode: both;
}

.modal-close {
  border-top: solid 1px var(--image-outline-col);
  height: fit-content;
  padding: 13px;
  margin: 0 !important;
  cursor: pointer;
}

.modal-close p {
  color: tomato;
  opacity: 70%;
  transition-duration: .3s;
  text-align: center;
}

.modal-close:hover p {
  opacity: 100%;
}

.modal-panel iframe {
  border-radius: 10px;
  border: none;
  width: calc(100vw - 16px - 8px);
  max-width: 800px;
  height: 60vh;
  margin: 4px;
}

.discord-modal {
  width: calc(100% - 40px);
  padding: 20px;
  display: flex;
}

.discord-modal-item {
  /*width: fit-content;*/
  flex-grow: 1;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.discord-modal-item:first-child {
  margin-right: 16px;
}

.discord-modal-item * {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .modal-panel {
    width: calc(100% - 16px);
  }
}
