.navbar {
  background-color: rgba(48, 48, 48, 0.8);
  -webkit-backdrop-filter: blur(30px) saturate(180%);
  backdrop-filter: blur(30px) saturate(180%);
  height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  z-index: 99;
  transition-duration: 0.4s;
}

.navbar a {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 32px;
  color: var(--main-text-col);
  opacity: 50%;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 99;
  transition-duration: 0.4s;
}

.navbar .borgor-menu {margin: 0; display: none;}

.navbar a:hover {
  opacity: 100%;
}

/* mobile navbar styling */

.navbar.mobile {
  justify-content: right;
  border-radius: 0 0 10px 10px;
}

.navbar.mobile a:not(:first-child) {
  display: block;
  opacity: 0%;
  margin: 0 0 16px 0;
  transition-duration: 0s;
  transition-delay: 0s;
}

.navbar.mobile .borgor-menu {display: block;float: left;}

/* active mobile navbar styling */

.navbar.mobile.active {
  height: 280px;
  flex-direction: column;
}

.navbar.mobile.active a:not(:first-child) {
  display: block;
  opacity: 50%;
  margin: 0 0 16px 38px;
  transition-delay: 0.2s;
  transition-duration: 0.4s;
}

.navbar.mobile.active a:hover {opacity: 100%;transition-delay:0s;}
