.navbar {
  background-color: var(--navbar-col);
  -webkit-backdrop-filter: blur(30px) saturate(180%);
  backdrop-filter: blur(30px) saturate(180%);
  height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  z-index: 99;
  transition-duration: 0.4s;
}

.navbar a {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 32px;
  color: var(--main-text-col);
  opacity: 50%;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 99;
  transition-duration: 0.4s;
}

.navbar .borgor-menu {margin: 0; opacity: 50%; display: none;}

.navbar a:hover {
  opacity: 100%;
}

.navbar-icon-container {
  background-color: #FF5E5B00;
  border-radius: 10px;
  height: 34px;
  width: 40px;
  margin-top: 8px;
  transition-duration: .3s;
  display: block;
  overflow: hidden;
}
.navbar-icon-container:hover {
  background-color: #FF5E5B;
  width: 170px;
}

@media (prefers-color-scheme: light) {
  .navbar-icon-container {
    background-color: #ff6d6b00 !important;
  }
  .navbar-icon-container:hover {
    background-color: #ff6d6b !important;
  }
}

.navbar-icon-container p {
  text-align: left;
  padding-top: 8px;
  opacity: 0%;
  width: 170px;
  transition-duration: .3s;
}

.navbar-icon-container:hover p {
  opacity: 100%;
}

.navbar-icon {
  margin: 0 !important;
}

.navbar-icon svg {
  margin: 0 4px 0 7px;
  width: 26px;
  float: left;
  opacity: 80%;
  transition-duration: .2s;
}
.navbar-icon-container:hover svg {
  opacity: 100%;
}

@media screen and (max-width: 750px) {
  .navbar-icon-container {
    display: none;
  }
}

/* mobile navbar styling */

@media screen and (max-width: 750px) {
  .navbar {
    justify-content: left;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
  }

  .navbar a:not(:first-child) {
    display: block;
    opacity: 0%;
    margin: 0 0 16px 0;
    transition-duration: .4s;
    transition-delay: .3s;
  }

  .navbar .borgor-menu {display: block;float: left;}

}

/* .navbar.mobile {
  justify-content: right;
  border-radius: 0 0 10px 10px;
}

.navbar.mobile a:not(:first-child) {
  display: block;
  opacity: 0%;
  margin: 0 0 16px 0;
  transition-duration: 0s;
  transition-delay: 0s;
}

.navbar.mobile .borgor-menu {display: block;float: left;} */

/* active mobile navbar styling */

@media screen and (max-width: 750px) {
  .navbar.active {
    height: 280px;
    flex-direction: column;
    box-shadow: 0 20px 40px #00000033;
  }

  .navbar.active a:not(:first-child) {
    display: block;
    opacity: 100%;
    margin: 0 0 16px 38px;
  }

  /* .navbar.active a:hover {opacity: 100%;transition-delay:0s;} */

}

/* .navbar.mobile.active {
  height: 280px;
  flex-direction: column;
}

.navbar.mobile.active a:not(:first-child) {
  display: block;
  opacity: 50%;
  margin: 0 0 16px 38px;
  transition-delay: 0.2s;
  transition-duration: 0.4s;
}

.navbar.mobile.active a:hover {opacity: 100%;transition-delay:0s;} */
