.navbar {
  --navbar-size-offset: -48px;
  animation-name: navbar-slide-in;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform: translateY(var(--navbar-size-offset));
}

@media screen and (max-width: 750px) {
  .navbar {
    --navbar-size-offset: -64px;
    transform: translateY(var(--navbar-size-offset));
  }
}

@keyframes navbar-slide-in {
  0% {
    transform: translateY(var(--navbar-size-offset));
  }
  100% {
    transform: translateY(0px);
  }
}
