#navbar-list {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4px;
}

#navbar-item {
  display: inline;
}

#navbar-text {
  font-family: Inter, Helvetica;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  color: rgba(245,245,245,.5);
  transition-duration: 0.4s;
}

#navbar-text:hover {
  color: rgba(245,245,245,1);
}
