body {
  background-color: #151d4f;
}

#title {
  font-family: Inter, Helvetica;
  font-size: 38px;
  color: rgb(220,220,220);
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 40px;
}

#body-big {
  font-family: Inter, Helvetica;
  font-size: 18px;
  color: rgb(220,220,220);
  padding-left: 80px
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: static;
  background-color: rgba(30,30,30,.8);
  overflow-x: hidden;
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  backdrop-filter: blur(20px) saturate(180%);
}

#navbar-item {
  font-family: Inter, Helvetica;
  font-weight: normal;
  font-size: 18px;
  color: rgb(220,220,220);
  display: inline;
}
