body {
  background-color: rgb(30,30,30);
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 40px;
}

#title {
  font-family: Inter, Helvetica;
  font-size: 38px;
  color: rgb(220,220,220);
}

#body-big {
  font-family: Inter, Helvetica;
  font-size: 18px;
  color: rgb(220,220,220);
}
