.panel-anim {
  opacity: 0;
  transform: translateX(-40px);

  animation-name: slide-in-left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.play {
  animation-play-state: running;
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);;
  }
}

.panel-container-margins {
  margin-bottom: 80px;
}

.big-title-wrapper {
  margin: 0 16px;
  width: calc(100% - 32px);
}

.big-title-wrapper * {
  text-align: center;
  font-size: 145px;
  font-weight: 1000;
}

.big-title-gradient {
  background: url('../media/new-bg-gradients/background-gradients.mp4'),
              url('../media/new-bg-gradients/background-gradients.webm');
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}