* {
	margin: !important 0;
	padding: !important 0;
}

h2 {
	color: #6f9427;
	font-size: 28px;
	font-weight: 600;
}

body {
	margin: 0;
}

main {
	display: flex;
}

#loading-animation-container {
	
}

#loading-animation-fg-layer {
	
}

#loading-animation-bg-layer {
	
}